<div class="fundo d-flex w-100 align-items-center flex-column">
<div class="d-flex pt-5 justify-content-between fundoForm w-50 px-5">
    <h3>Cadastro</h3>
    <a class="login" href="login">
        <h3>Login</h3>
    </a>
</div>
<div class="w-50 px-5 fundoForm">
    <div class="w-100 d-flex justify-content-center">
        <h1>Cadastro</h1>
    </div>
    <form class="w-100 fundoForm py-5 px-5">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>
      
        <!-- Register buttons -->
        <div class="text-center d-flex align-items-center flex-column">
<div id="g_id_onload"
          data-client_id="606686719142-3n1io4de0sea42ul1bglr1ipjtr8l7fv.apps.googleusercontent.com"
          data-context="signup"
          data-ux_mode="popup"
          data-login_uri="http://localhost:3000/api/cadastro"
          data-auto_select="true"
          data-itp_support="true">
     </div>
     
     <div class="g_id_signin"
          data-type="standard"
          data-shape="pill"
          data-theme="filled_blue"
          data-text="signup_with"
          data-size="large"
          data-locale="pt-BR"
          data-logo_alignment="left">
     </div>
        </div>
      </form>
</div>
</div>