<app-sidebars [ngClass]="{'minha-classe': isMenuOpen}" #menu id="menu" class="sideBar" ></app-sidebars>

<!-- INÍCIO BLOCO: HADER -->
<div class="header d-flex justify-content-between">

    <!-- INÍCIO BLOCO: LEFT -->
    <div class="left ms-3 mt-3 mb-2 d-flex flex-column align-items-center justify-content-between font">

        <!-- INÍCIO BLOCO: LOGO -->
        <div class="title d-flex align-items-center">
            <h1 class="me-2 ms-2">GIZMOS TROVE</h1>
        </div>
        <!-- FIM BLOCO: LOGO -->

        <!-- INÍCIO BLOCO: MENU -->
        <div #toggleButton (click)="toggleClass()" id="button" class=" buttonMenu d-flex flex-row justify-content-center menuIcon mb-2 menu">
            <mat-icon class="buttonMenu iconMenu">menu</mat-icon>
            <div class="buttonMenu iconHelpText d-flex flex-column mt-2 me-4">
                <p class="buttonMenu">Menu</p>
                <h5 class="buttonMenu margin-">Configuração / Ajuda</h5>
            </div>
        </div>
        <!-- FIM BLOCO: MENU -->

    </div>
    <!-- FIM BLOCO: LEFT -->

    <!-- INÍCIO BLOCO: RIGTH -->
    <div class=" me-3 mt-3 mb-2 d-flex flex-column justify-content-between">

        <!-- INÍCIO BLOCO: ICONS -->
        <div class="d-flex justify-content-end d-flex align-items-center">

            <!-- INÍCIO BLOCO: HELPS -->
            <div class="d-flex flex-row containerHelp">
                <mat-icon class="me-1 iconHelp"> person_pin</mat-icon>
                <div class="iconHelpText d-flex flex-column mt-1 me-4">
                    <p class="containerHelpText">Conta</p>
                    <h5 class="margin- containerHelpTitle">Cadastro / Loging</h5>
                </div>
            </div>
            <div class="d-flex flex-row containerHelp">
                <mat-icon class="me-1 iconHelp">supervised_user_circle</mat-icon>
                <div class="iconHelpText d-flex flex-column mt-1 me-4">
                    <p class="containerHelpText">Atendimento</p>
                    <h5 class="margin- containerHelpTitle">Ao Cliente</h5>
                </div>
            </div>
            <!-- FIM BLOCO: HELP -->

            <!-- INÍCIO BLOCO: CARRINHO -->
            <div class="carrinho d-flex justify-content-center align-items-center">
                <div class="">
                    <mat-icon class="icon ms-2">shopping_cart</mat-icon>
                </div>
                <div class="carrinhoTitulo mt-2 me-2">
                    <h3 class="carrinhoCarrinho">CARRINHO</h3>
                    <div class="d-flex">
                        <p class="carrinhoProduto">PRODUTO</p>
                        <mat-icon class="carrinhoProdutoSeta">keyboard_arrow_down</mat-icon>
                    </div>

                </div>
            </div>
            <!-- FIM BLOCO: CARRINHO -->

        </div>
        <!-- FIM BLOCO: ICON -->

        <!-- INÍCIO BLOCO: SEARCH -->
        <div class="">
            <div class="InputContainer mb-2">
                <input type="text" name="text" class="input" id="input" placeholder="Procure">

                <label for="input" class="labelforsearch">
                    <svg viewBox="0 0 512 512" class="searchIcon">
                        <path
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
                        </path>
                    </svg>
                </label>
                <div class="border"></div>

            </div>
        </div>
        <!-- FIM BLOCO: SEARCH -->

    </div>
    <!-- FIM BLOCO: RIGTH -->

</div>

