.container{
    background-color: #333333;
    color: rgb(255, 255, 255);

}

main{
    background-color: #333333;
}

.link-dark{
    color: aliceblue;
}

SVG{
    color: aliceblue;
}

.logoFuter{
    margin-top: 20px;
}

h5{
    color: #E90313;
}

a{
    color: #ffffff;
    text-decoration: none;
}