<main class="pt-3">
    <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
              </ul>
            </div>
      
            <div class="col-4 offset-1 d-flex align-items-center h4 pb-2 mb-4 text-danger border-bottom border-danger">
<img style="width: 100%;" src="../../../assets/imagens/logo-removebg-preview - Copia.png" alt="">
            </div>
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <div class="d-flex">
                <p class="logoFuter">&copy;</p>
                <P class="logoFuter me-1">2023</P>
                <h1> GIZMOS TROVE </h1> 

            </div>

            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/r4fael.neves2004/"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="https://www.linkedin.com/in/rafael-santos-neves-a91680260/"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="https://github.com/RafaelSantosNeves"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>
</main>
